body {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 48px;
    color: white;
}

h2 {
    color: white;
}

.head {
    width: 100%;
    display: flex;
    justify-content: center;
}

.top {
    width: 100%;
    padding-bottom: 1%;
    display: flex;
}

.description {
    padding: 5%;
    width: 40%;
    float: left;
}

.App {
    padding: 1%;
    text-align: center;
    background: CornflowerBlue;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: CornflowerBlue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: -10%;
}

.App-link {
    color: #483D8B;
}

.graph {
    width: 50%;
    float: left;
}

.sidebar {
    padding: 0 2% 2% 2%;
    width: 50%;
    float: right;
}

.bottom {
    width: 100%;
    padding-bottom: 1%;
    display: flex;
}

.tableWrap {
    padding: 2%;
    width: 50%;
}

.selector {
    padding: 2%;
}

.input {
    margin-top: 0px;
    margin-left: 0px;
}

.buttons {
    float: left;
}