body {
    margin: 0;
}

h1 {
    margin: 0;
    font-size: 48px;
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

input {
    float: left;
    margin: 1% 0 0 1%;
}

.head {
    width: 100%;
    display: flex;
    justify-content: center;
}

.description {
    padding: 5%;
    width: 40%;
    float: left;
}

.App {
    padding: 1%;
    text-align: center;
    background: CornflowerBlue;
}

.App-logo {
    height: 40vmin;
}

.App-header {
    background-color: CornflowerBlue;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    margin-top: -10%;
}

.App-link {
    color: #483D8B;
}
